include AUTHORS
include LICENSE
include README.rst
include HISTORY
recursive-include ripiu/cmsplugin_filer_svg/migrations *
recursive-include ripiu/cmsplugin_filer_svg/templates *
recursive-include ripiu/cmsplugin_filer_svg/static *
recursive-include ripiu/cmsplugin_filer_svg/locale *